<!DOCTYPE html>
<html>
  <head>
    <title>RafikiTwist</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="title" content="<%= (@recipe&.name || @tag&.name).presence || 'A twist on recipes' %>" />
    <meta property="description" content="The best recipe for a perfect night" />
    <meta property="og:title" content="<%= (@recipe&.name || @tag&.name).presence || 'A twist on recipes' %>" />
    <meta property="og:description" content="The best recipe for a perfect night" />
    <meta property="og:type" content="website" />

    <%= javascript_pack_tag 'Application' %>
    <%= favicon_link_tag asset_path('faviconR.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
