<!DOCTYPE html>
<html>
  <head>
    <title>RafikiTwist</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= javascript_pack_tag 'Application' %>
    <%= favicon_link_tag asset_path('faviconR.png') %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
